.ui-tabs .ui-tabs-nav li{
	float:right !important;
	font-size: 90%;
}

.ui-tabs-panels, .ui-tabs-panel {
	
}

.ui-tabs .ui-helper-clearfix:after {
    clear: right;
}

.ui-menu .ui-helper-clearfix:after {
	clear: left;
}